# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/
ENV/
.idea/
*.sqlite3

# Visual Studio Code
.vscode/

# Pycharm
.idea/

# Tesseract installation paths
tesseract.exe

# Uploads folder
uploads/
